html {
  background-color: white;
}

body {
  border: 5px solid blue;
  border-radius: 20px;
  background: #2A7B9B;
  background: radial-gradient(circle, #2a7b9b 0%, #57c785 50%, #eddd53 100%);
}

h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Dutch801 XBd BT", "Commercial Script BT", sans-serif;
  text-align: center;
}

div {
  margin: 100px 0px;
  justify-content: center;
  display: flex;
}

button {
  position: relative;
  background-color: #F7F779;
  border-radius: 10px;
  border-color: black;
  display: inline;
  margin: 10px;
}